.filters{
    background-color: #6495ED;
    border: 1px solid black;
    font-size: 1.1vw;
    position: fixed;
    margin-top: 2vw;
}
.container-outer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.container-inner{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.center-field{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 15%;
}
.center-field p{
    font-family: 'Slabo 27px', serif;
    font-size: 1vw;
}
.post-with-icons{
    float: left;

}
.post-with-icons .post{
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    align-items: center;
    size: 3vw;
    font-size: 1vw;
}
.post-with-icons .post .post-text{
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    border: 3px outset #6495ED;
    width: 30%;
}
.post-with-icons .icons{
    display: flex;
    flex-direction: row;
    font-size: 1.2vw;
    justify-content: center;
}
.post-with-icons button{
    background-color: #48D1CC;
    display: inline-block;
    width: 6vw;
    max-width: 6vw;
    height: 2.5vw;
    max-height: 2.5vw;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5vw;
    border: 3px outset #48D1CC;
}
.post-with-icons span{
    font-size: 1vw;
}
img.seal{
    margin: 3vw 1vw 1vw 1vw;
}