body{
    background: #ffe6cf;
}
.filters{
    background-color: #ffb593;
    border: 1px solid black;
    width: 11%;
    font-size: 1.1vw;
    position: fixed;
    margin-top: 2%;
}
#input-author {
    margin-left: 15%;
}
#input-date {
    margin-left: 15%;
}
#input-hashtags {
    margin-left: 15%;
}
.container-outer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.container-inner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 15%;
    /*background-color: #ffb593;*/
}
.center-field{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.post-with-icons{
    float: left;

}
.post-with-icons .post{
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    align-items: center;
    size: 3vw;
    font-size: 1vw;
}
.post-with-icons .post .post-text{
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    border: 3px outset #ff957b;
    width: 13vw;
    font-family: 'Slabo 27px', serif;
    font-size: 1vw;
    background-color: #ffb593;
}
.post-with-icons .icons{
    display: flex;
    flex-direction: row;
    font-size: 1.2vw;
    justify-content: center;
}
.post-with-icons button{
    background-color: #ff7660;
    display: inline-block;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5vw;
    border: 3px outset #ff9179;
}
.post-with-icons span{
    font-size: 1vw;
}
img.seal{
    margin: 3vw 1vw 1vw 1vw;
}