header{
    background-color: #ffac91;
    border: 1px solid #950001;
    border-radius: 3vw;
}
img.logo{
    height: 15%;
    width: 15%;
    margin-left: 5%;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    font-size: 2.5vw;
    margin-right: 5%;
    align-items: center;
}
.icons-container .fa{
    color: #950001;
}
span{
    font-size: 1.5vw;
}